%h3 Booking History

.container
  -@booking.each do |booking|
    %ol
      .row
        .col-sm-3{:style => "background-color:lavender;"}
          %h4 Guest name:
          %h4 Room type:
          %br/
        .col-sm-3{:style => "background-color:lavenderblush;"}
          %h4=booking.guest_name
          %h4=booking.room_type
          %br/
        .col-sm-3{:style => "background-color:lavender;"}
          %h4 Start date:
          %h4 End date:
          %br/
        .col-sm-3{:style => "background-color:lavenderblush;"}
          %h4=booking.start_date
          %h4=booking.end_date
          %br/