%h3 Booking History

.container
  .list-group
    - @booking.each do |booking|
      .container
        .list-group
          %a.list-group-item.active
            %p.list-group-item= booking.start_date
