%h3 New Reservation
%h4
  = form_for(@booking) do |f|
    .field
      = f.label :guest_name
      %br/
      = f.text_field :guest_name

- if user_signed_in?
  %p= link_to "Confirm Booking", hotels_path, class: "btn btn-lg btn-primary"
